# Data Science Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

 **Objectives:**
 - List Popular languages for Data Science
 - List some of the commonly used libraries by Data Scientists
 - List Data Science tools
 - Evaluating Arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:-
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists are:-
1. Pandas
2. Matplotlib
3. ScikitLearn

| Data Science Tools |
|------------|
|MongoDB|
|MySQL|
|PostgreSQL|

### Below are a few examples of evaluating arithmetic expressions in Python:-

In [12]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Vishwansh Vardha